# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
  - package-ecosystem: "npm"
    directory: "frontend/"
    schedule:
      interval: "monthly"
    groups:
      # https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/optimizing-pr-creation-version-updates
      angular:
        applies-to: version-updates
        patterns:
          - "@angular*"
        update-types: [ minor, patch ]
      production:
        dependency-type: production
      development:
        dependency-type: development
    ignore:
      - dependency-name: "@angular*"
        update-types: [ "version-update:semver-major" ]
  - package-ecosystem: "npm"
    directory: "service/"
    schedule:
      interval: "monthly"
    groups:
      nestjs:
        applies-to: version-updates
        patterns:
          - "@nestjs*"
        update-types: [ minor, patch ]
      production:
        dependency-type: production
      development:
        dependency-type: development
    ignore:
      - dependency-name: "@nestjs*"
        update-types: [ "version-update:semver-major" ]
