<div class="container text-center">
  <h1>Coffee Counter</h1>
  <h3>Ultimate Edition</h3>

  <div class="d-flex flex-wrap justify-content-center">
    <div *ngFor="let user of users" class="card m-2">
      <img *ngIf="user.avatar" class="card-img-top" [src]="user.avatar" [alt]="user.name">
      <div class="card-body">
        <h5 class="card-title">{{ user.name }}</h5>
        <p class="card-text">123 coffees</p>
        <button class="btn btn-primary stretched-link me-2" (click)="createCoffee(user)">
          One more!
        </button>
        <a class="btn btn-secondary" [routerLink]="['/users', user._id]" style="z-index: 2; position: relative">
          Info
        </a>
      </div>
    </div>
  </div>

  <h4>Recent Coffees:</h4>

  <ul class="list-group">
    <li *ngFor="let coffee of coffees" class="list-group-item">
      {{ userMap[coffee.userId]?.name }}
      &bull;
      {{ coffee.createdAt | date:'shortTime' }}
    </li>
  </ul>
</div>
