@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

.card:hover {
  box-shadow: $box-shadow;
}

.user-avatar {
  width: 16rem;
  height: 12rem;
  object-fit: cover;
  object-position: center;
}
