<div class="container">
  <h1 class="text-center">Coffee Counter</h1>
  <h3 class="text-center">Ultimate Edition</h3>

  <div class="d-flex flex-wrap justify-content-center">
    <button *ngFor="let user of users" class="btn text-start m-2 card-container" (click)="createCoffee(user)">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ user.name }}</h5>
          <p class="card-text">
            <span class="bi-cup text-primary" ngbTooltip="Coffees">
              {{ user.coffees }}
            </span>
            <span class="bi-star text-info" ngbTooltip="Level">
              {{ level(user.coffees) }}
            </span>
            <span class="bi-trophy text-warning" ngbTooltip="Trophies">
              12
            </span>
          </p>
          <button
            class="btn btn-primary me-2 bi-cup"
            (click)="createCoffee(user); $event.stopImmediatePropagation()"
            ngbTooltip="Add Coffee"
          ></button>
          <a
            class="btn btn-info me-2 bi-bar-chart"
            [routerLink]="['/users', user._id]"
            (click)="$event.stopImmediatePropagation()"
            style="z-index: 2; position: relative"
            ngbTooltip="Statistics"
          ></a>
          <button
            class="btn btn-warning me-2 bi-arrow-counterclockwise"
            (click)="deleteLastCoffee(user); $event.stopImmediatePropagation()"
            ngbTooltip="Undo last Coffee"
          ></button>
        </div>
      </div>
      <img class="rounded-circle user-avatar" [src]="user.avatar || '/assets/se.svg'" [alt]="user.name">
      <svg class="user-avatar progress-ring" [style.--progress]="levelProgress(user.coffees)">
        <circle class="progress-ring__circle"
          stroke="gold"
          stroke-width="10"
          fill="transparent"
          r="50%"
          cx="50%"
          cy="50%"/>
      </svg>
    </button>
  </div>

  <h4>Recent Coffees:</h4>

  <ul class="list-group">
    <li *ngFor="let coffee of coffees" class="list-group-item">
      {{ userMap[coffee.userId]?.name }}
      &bull;
      {{ coffee.createdAt | date:'shortTime' }}
      &bull;
      <a href="#" class="link-danger bi-trash" (click)="deleteCoffee(coffee)"></a>
    </li>
  </ul>
</div>
