<div *ngIf="user" class="container">
  <div class="row">
    <div class="col-3">
      <div class="avatar-container">
        <img class="rounded-circle user-avatar border border-2 border-dark" [src]="user.avatar || '/assets/se.svg'"
             [alt]="user.name">
        <img class="rounded-circle level-icon border border-1 border-dark"
             [src]="'/assets/levels/' + (user.coffees | level) + '.png'"
             alt="Level Icon" [ngbTooltip]="user.coffees | level | levelName">
        <button class="btn btn-link bi-person-circle" ngbTooltip="Edit Avatar"
                [ngbPopover]="editAvatar" container="body" placement="right bottom" autoClose="outside">
        </button>
        <ng-template #editAvatar>
          <div class="mb-3">
            <label class="form-label" for="avatar">URL</label>
            <input type="url" class="form-control" id="avatar" [(ngModel)]="user.avatar">
          </div>
          <button class="btn btn-success" (click)="updateUser()">Save</button>
        </ng-template>
      </div>
      <div>
        <h3 class="d-flex">
          <input type="text" class="form-control-plaintext" [(ngModel)]="user.name" #editName
                 (ngModelChange)="edited = true">
          <button *ngIf="!edited" class="btn btn-link bi-pencil" ngbTooltip="Edit Username"
                  (click)="editName.focus()"></button>
          <button *ngIf="edited" class="btn btn-link bi-check-circle" ngbTooltip="Save" (click)="updateUser()"></button>
        </h3>
        <i class="text-muted">
          - {{ user.coffees | level | levelName }}
        </i>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          <span class="bi-star text-info h2" ngbTooltip="Level"> {{ user.coffees | level }}</span>
          <span class="text-info h5"> / {{user.coffees | nextLevel}}</span>
        </div>
        <div class="col">
          <span class="bi-trophy text-warning h2" ngbTooltip="Trophies"> 12</span>
        </div>
      </div>
      <hr>
      <div class="row">
        <img class="col-3" src="/assets/trophies/nightOwl.svg" alt="Night Owl">
        <img class="col-3" src="/assets/trophies/earlyBird.svg" alt="Early Bird">
        <img class="col-3" src="/assets/trophies/mostAddictedOfThemAll.svg" alt="Most Addicted">
        <img class="col-3" src="/assets/trophies/buyerOfMilk.svg" alt="Buyer of Milk">
        <img class="col-3" src="/assets/trophies/buyerOfNoMilk.svg" alt="Buyer of Non-Milk">
        <img class="col-3" src="/assets/trophies/buyerOfCoffee.svg" alt="Buyer of Coffee">
      </div>
    </div>
    <div class="col">
      <div class="row my-5 justify-content-evenly">
        <div class="col-4 justify-content-center">
          <div class="d-flex mb-2 justify-content-center">
            <h1>{{ user.coffees }}&nbsp;</h1>
            <h1 class="bi-cup text-primary"></h1>
          </div>
          <div class="d-flex justify-content-center">
            <h3 class="me-2">Coffee</h3>
            <button class="btn btn-success bi-plus-lg" ngbTooltip="Add Coffee"
                    (click)="createCoffee()">
            </button>
          </div>
        </div>
        <div class="col-4 justify-content-center">
          <div class="d-flex mb-2 justify-content-center">
            <h1 [class.text-danger]="+user.balance < 0"
                [ngbTooltip]="+user.balance < 0 ? 'Negative credit balance!' : null">
              {{ user.balance | currency: 'EUR' : 'symbol': '1.': 'de-DE'}}
            </h1>
          </div>
          <div class="d-flex justify-content-center">
            <h3 class="me-2">Balance</h3>
            <a class="btn btn-success me-2 bi-cart" ngbTooltip="Add Purchase" routerLink="purchase"
               [queryParams]="{user: user._id}"></a>
          </div>
        </div>
      </div>
      <hr>
      <div class="d-flex mb-3">
        <div class="card flex-fill justify-content-center" style="height: 5rem; background: lightgrey">
          <div class="d-flex justify-content-center align-items-center">
            <h4 class="text-danger bi-bar-chart-fill"></h4>
            <h4 class="text-danger mx-2">Diagramms comming soon</h4>
            <h4 class="text-danger bi-bar-chart-fill"></h4>
          </div>
        </div>
      </div>
      <hr>
      <h3>Recent Purchases</h3>
      <ul class="list-group">
        <li *ngFor="let purchase of purchases"
            class="list-group-item d-flex justify-content-between align-items-center">
          <span class="bi bi-shop"></span>
          <div class="ms-2 me-auto">
            <span>{{purchase.description}}</span>
            &bull;
            <span class="text-muted">{{ purchase.createdAt | date:'shortTime' }}</span>
          </div>
          <span [class.text-danger]="+user.balance < 0">
            {{purchase.total | currency: 'EUR' : 'symbol': '1.': 'de-DE'}}
          </span>
          <button class="btn btn-sm btn-link link-danger bi-trash" [ngbPopover]="confirmDelete"></button>
          <ng-template #confirmDelete>
            <p>
              Are you sure you want to delete this purchase?
            </p>
            <button class="btn btn-danger" (click)="deletePurchase(purchase)">Yes</button>
          </ng-template>
        </li>
      </ul>
      <hr>
      <div class="d-flex mb-3">
        <div class="card flex-fill justify-content-center" style="height: 5rem; background: lightgrey">
          <div class="d-flex justify-content-center align-items-center">
            <h4 class="text-danger bi-trophy-fill"></h4>
            <h4 class="text-danger mx-2">Achivements comming soon</h4>
            <h4 class="text-danger bi-trophy-fill"></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
