<div *ngIf="user" class="container">
  <div class="row">
    <div class="col-3">
      <div class="avatar-container">
        <img class="rounded-circle user-avatar border border-2 border-dark" [src]="user.avatar || '/assets/se.svg'"
             [alt]="user.name">
        <img class="rounded-circle level-icon border border-1 border-dark"
             [src]="'/assets/levels/' + (user.coffees | level) + '.png'"
             alt="Level Icon" [ngbTooltip]="user.coffees | level | levelName">
        <button class="btn btn-link bi-person-circle" ngbTooltip="Edit Avatar"
                [ngbPopover]="editAvatar" container="body" placement="right bottom" autoClose="outside">
        </button>
        <ng-template #editAvatar>
          <div class="mb-3">
            <label class="form-label" for="avatar">URL</label>
            <input type="url" class="form-control" id="avatar" [(ngModel)]="user.avatar">
          </div>
          <button class="btn btn-success" (click)="updateUser()">Save</button>
        </ng-template>
      </div>
      <div>
        <h3 class="d-flex">
          <input type="text" class="form-control-plaintext" [(ngModel)]="user.name" #editName (ngModelChange)="edited = true">
          <button *ngIf="!edited" class="btn btn-link bi-pencil" ngbTooltip="Edit Username" (click)="editName.focus()"></button>
          <button *ngIf="edited" class="btn btn-link bi-check-circle" ngbTooltip="Save" (click)="updateUser()"></button>
        </h3>
        <i class="text-muted">
          - {{ user.coffees | level | levelName }}
        </i>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          <span class="bi-star text-info h2" ngbTooltip="Level"> {{ user.coffees | level }}</span>
          <span class="text-info h5"> / {{user.coffees | nextLevel}}</span>
        </div>
        <div class="col">
          <span class="bi-trophy text-warning h2" ngbTooltip="Trophies"> 12</span>
        </div>
      </div>
      <hr>
      <div class="row">
        <img class="col-3" src="/assets/trophies/nightOwl.svg" alt="Night Owl">
        <img class="col-3" src="/assets/trophies/earlyBird.svg" alt="Early Bird">
        <img class="col-3" src="/assets/trophies/mostAddictedOfThemAll.svg" alt="Most Addicted">
        <img class="col-3" src="/assets/trophies/buyerOfMilk.svg" alt="Buyer of Milk">
        <img class="col-3" src="/assets/trophies/buyerOfNoMilk.svg" alt="Buyer of Non-Milk">
        <img class="col-3" src="/assets/trophies/buyerOfCoffee.svg" alt="Buyer of Coffee">
      </div>
    </div>
    <div class="col">
      <div class="mb-3">
        <label class="form-label fs-5" for="balance">Balance</label>
        <div class="input-group">
          <span class="input-group-text" [class.text-danger]="user.balance">
            {{ user.balance | currency: 'EUR' : 'symbol': '1.': 'de-DE'}}
          </span>
          <input type="number" class="form-control form-control-lg" id="balance" [(ngModel)]="balanceCorrection">
        </div>
      </div>
    </div>
  </div>
</div>
