$avatar-dim: 18rem;
$level-icon-dim: 3rem;

.user-avatar {
  width: $avatar-dim;
  height: $avatar-dim;
  object-fit: cover;
}

.level-icon {
  width: $level-icon-dim;
  height: $level-icon-dim;
  object-fit: cover;
}
