<button class="btn btn-offcanvas btn-outline-secondary bi-arrow-bar-left fs-3" (click)="openPurchaseList()"></button>
<div class="container">
  <h1 class="text-center">Coffee Counter</h1>
  <h3 class="text-center">Ultimate Edition</h3>

  <div class="d-flex flex-wrap justify-content-center">
    <div *ngFor="let user of users" class="text-start m-3 card-container">
      <div class="card bg-light bg-darkmode-dark">
        <div class="card-body position-relative">
          <h5 class="card-title h5">{{ user.name }}</h5>
          <span class="bi-cup text-primary h5" ngbTooltip="Coffees"> {{ user.coffees }}</span><br>
          <span class="bi-star text-info h5" ngbTooltip="Level"> {{ user.coffees | level }}</span><br>
          <span class="bi-trophy text-warning h5" ngbTooltip="Trophies"> {{ user.achievements }}</span>
          <button
            class="btn btn-warning bi-arrow-counterclockwise fs-3 position-absolute bottom-0 end-0 me-2 mb-2"
            (click)="deleteLastCoffee(user)" ngbTooltip="Undo last Coffee">
          </button>
        </div>
      </div>
      <img class="rounded-circle user-avatar border border-2 border-dark" [src]="user.avatar || '/assets/se.svg'"
           [alt]="user.name">
      <svg
        class="user-avatar progress-ring"
        [style.cursor]="'pointer'"
        [style.--progress]="user.coffees | levelProgress"
        [ngbTooltip]="(user.coffees | levelProgress | percent) + ' Progress'"
        (click)="createCoffee(user)" clickPulseAnimation>
        <circle class="progress-ring__circle"
                stroke="gold"
                stroke-width="10"
                fill="transparent"
                r="50%"
                cx="50%"
                cy="50%"/>
      </svg>
    </div>
  </div>
</div>

<ng-template #purchaseList let-offcanvas>
  <div class="offcanvas-header">
    <h3 class="offcanvas-title">Recent Purchases</h3>
    <button class="btn btn-outline-secondary bi-arrow-bar-right fs-3" (click)="offcanvas.dismiss()"></button>
  </div>
  <div class="offcanvas-body">
    <app-purchase-list [users]="userMap"></app-purchase-list>
  </div>
</ng-template>

