<div class="container">
  <h1 class="text-center">Coffee Counter</h1>
  <h3 class="text-center">Ultimate Edition</h3>

  <div class="d-flex flex-wrap justify-content-center">
    <div *ngFor="let user of users" class="text-start m-3 card-container">
      <div class="card bg-light bg-darkmode-dark">
        <div class="card-body">
          <h5 class="card-title">{{ user.name }}</h5>
          <p class="card-text">
            <span class="bi-cup text-primary" ngbTooltip="Coffees">
              {{ user.coffees }}
            </span>
            <span class="bi-star text-info" ngbTooltip="Level">
              {{ user.coffees | level }}
            </span>
            <span class="bi-trophy text-warning" ngbTooltip="Trophies">
              12
            </span>
          </p>
          <button
            class="btn btn-primary me-2 bi-cup"
            (click)="createCoffee(user); $event.stopImmediatePropagation()"
            ngbTooltip="Add Coffee"
          ></button>
          <a
            class="btn btn-info me-2 bi-bar-chart"
            [routerLink]="['/users', user._id]"
            (click)="$event.stopImmediatePropagation()"
            style="z-index: 2; position: relative"
            ngbTooltip="Statistics"
          ></a>
          <button
            class="btn btn-warning me-2 bi-arrow-counterclockwise"
            (click)="deleteLastCoffee(user); $event.stopImmediatePropagation()"
            ngbTooltip="Undo last Coffee"
          ></button>
        </div>
      </div>
      <img class="rounded-circle user-avatar border border-2 border-dark" [src]="user.avatar || '/assets/se.svg'" [alt]="user.name">
      <svg
        class="user-avatar progress-ring"
        [style.--progress]="user.coffees | levelProgress"
        [ngbTooltip]="(user.coffees | levelProgress | percent) + ' Progress'"
        (click)="createCoffee(user)" clickPulseAnimation
      >
        <circle class="progress-ring__circle"
                stroke="gold"
                stroke-width="10"
                fill="transparent"
                r="50%"
                cx="50%"
                cy="50%"/>
      </svg>
    </div>
  </div>

  <h4>Recent Coffees:</h4>

  <ul class="list-group">
    <li *ngFor="let coffee of coffees" class="list-group-item">
      {{ userMap[coffee.userId]?.name }}
      &bull;
      {{ coffee.createdAt | date:'shortTime' }}
      <button class="btn btn-link link-danger bi-trash" [ngbPopover]="confirmDelete"></button>
      <ng-template #confirmDelete>
        <p>
          Are you sure you want to delete this coffee?
        </p>
        <button class="btn btn-danger" (click)="deleteCoffee(coffee)">Yes</button>
      </ng-template>
    </li>
  </ul>
</div>
