<div *ngIf="user" class="container">
  <div class="row">
    <div class="col-xl-3">
      <div class="row">
        <div class="col-lg-6 col-xl-12 avatar-container">
          <img class="rounded-circle user-avatar border border-2 border-dark" [src]="editAvatar || user.avatar || '/assets/se.svg'"
               [alt]="user.name">
          <button class="btn btn-primary bi-person-circle text-light" ngbTooltip="Edit Avatar" (click)="editAvatar = user.avatar"
                  [ngbPopover]="editAvatarForm" #popover="ngbPopover" container="body" placement="right bottom-right" autoClose="outside">
          </button>
          <ng-template #editAvatarForm>
            <div class="mb-3">
              <label class="form-label" for="avatar">URL</label>
              <input type="url" class="form-control" id="avatar" [(ngModel)]="editAvatar">
            </div>
            <button class="btn btn-success" (click)="updateUser(); popover.close()">Save</button>
          </ng-template>
        </div>
        <div class="col-lg-6 col-xl-12">
          <div class="d-flex">
            <h3 *ngIf="!editName" class="flex-fill">{{user.name}}</h3>
            <input *ngIf="editName" type="text" class="flex-fill form-control form-control-lg" [(ngModel)]="editName">
            <button *ngIf="!editName" class="btn btn-link bi-pencil"
                    ngbTooltip="Edit Username" placement="right bottom"
                    (click)="editName = user.name">
            </button>
            <button *ngIf="editName" class="btn btn-link bi-check-circle"
                    ngbTooltip="Save" placement="right bottom"
                    (click)="updateUser()"></button>
          </div>
          <div class="d-flex">
            <img class="rounded-circle level-icon border border-1 border-dark me-2"
                 [src]="'/assets/levels/' + (user.coffees | level) + '.png'" alt="Level Icon">
            <i class="text-muted h5 align-self-center">
              {{ user.coffees | level | levelName }}
            </i>
          </div>
          <hr>
          <div class="row">
            <div class="col">
              <span class="bi-star text-info h2" ngbTooltip="Level"> {{ user.coffees | level }}</span>
            </div>
            <div class="col">
              <span class="bi-trophy text-warning h2" ngbTooltip="Trophies"> {{ user.achievements }}</span>
            </div>
          </div>
          <hr>
          <div class="d-flex flex-wrap">
            <a
              *ngFor="let achievement of achievements"
              class="achievement-icon me-2 mb-2"
              style="cursor: pointer"
              [routerLink]="['achievements', achievement.id]"
              [ngbTooltip]="achievement.name"
            >
              <img [src]="achievement.image" [alt]="achievement.name">
            </a>
          </div>
        </div>

      </div>
    </div>
    <div class="col">
      <div class="row justify-content-evenly">
        <div class="col-auto text-center">
          <h1>
            {{ user.coffees }}
            <span class="h3 text-muted">/ {{user.coffees | nextLevel}}</span>
            <i class="bi-cup text-primary"></i>
          </h1>
          <h3>
            Coffees
            <button class="btn btn-success bi-plus-lg" ngbTooltip="Add Coffee" (click)="createCoffee()"></button>
          </h3>
        </div>
        <div class="col-auto text-center">
          <h1 [class.text-danger]="+user.balance < 0"
              [ngbTooltip]="+user.balance < 0 ? 'Negative credit balance!' : null">
            {{ user.balance | currency: 'EUR' : 'symbol': '1.': 'de-DE'}}
          </h1>
          <h3>
            Balance
            <a class="btn btn-success me-2 bi-cart" ngbTooltip="Add Purchase" routerLink="purchase"></a>
          </h3>
        </div>
      </div>
      <hr>
      <h3>Coffees by Hour of Day</h3>
      <canvas type="bar" [data]="coffeeData" [legend]="false" baseChart></canvas>
      <hr>
      <h3>Shortcuts</h3>
      <app-shortcut-list [shortcuts]="user.shortcuts!"></app-shortcut-list>
      <button type="button" class="btn btn-primary" (click)="saveShortcuts()">
        Save
      </button>
      <h3>Recent Purchases</h3>
      <app-purchase-list></app-purchase-list>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
