@use "sass:math";

$avatar-dim: 18rem;
$level-icon-dim: 3rem;
$edit-button-dim: 3rem;

.user-avatar {
  width: $avatar-dim;
  height: $avatar-dim;
  object-fit: cover;
}

.level-icon {
  width: $level-icon-dim;
  height: $level-icon-dim;
  object-fit: cover;
}

.avatar-container {
  position: relative;
}

.avatar-container button {
  position: absolute;
  width: $edit-button-dim;
  height: $edit-button-dim;
  border-radius: 50px;
  left: ($avatar-dim / 2) + (($avatar-dim / 2) * math.cos(45deg)) - ($edit-button-dim / 2);
  top: ($avatar-dim / 2) + (($avatar-dim / 2) * math.sin(45deg))  - ($edit-button-dim / 2);
}

.achievement-icon {
  width: $level-icon-dim;
  height: $level-icon-dim;
}
