<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-3">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <i class="bi-cup"></i>
      Coffee Counter Ultimate
    </a>
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
      &#9776;
    </button>
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link bi-house" routerLink="/" routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}">
            Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link bi-book" routerLink="/admin" routerLinkActive="active">
            Admin
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link bi-gear" routerLink="/settings" routerLinkActive="active">
            Settings
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link bi-github" href="https://github.com/sekassel-research/coffee-counter-ultimate"
             target="_blank"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link bi-window-fullscreen" href="#" ngbTooltip="Toggle Fullscreen" (click)="toggleFullscreen()"></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
