<div class="container">
  <div class="d-flex flex-row">
    <h4 class="m-2">Users:</h4>
    <button class="btn btn-success btn-sm align-self-center" (click)="openUserCreateModal()">
      <i class="bi bi-plus-lg"></i>
    </button>
  </div>
  <ul class="list-group">
    <li *ngFor="let user of users" class="list-group-item">
      <div class="row align-items-center">
        <div class="col-5">
          <img class="rounded-circle user-avatar" [src]="user.avatar || '/assets/se.svg'" [alt]="user.name">
          <span class="h6">{{ user.name }}</span>
        </div>
        <div class="col-3">
          <span class="h6 bi-cup-fill text-primary"></span><span class="h6"> {{ user.coffees }}</span>
        </div>
        <div class="col-1 text-end">
          <span [class.text-danger]="user.balance < 0" class="h6">
            {{ user.balance | currency: 'EUR' : 'symbol': '1.': 'de-DE'}}
          </span>
        </div>
        <div class="col"></div>
        <div class="col-1">
          <a class="btn btn-success me-2 bi-pencil" ngbTooltip="Edit User" [routerLink]="['/users', user._id]"></a>
        </div>
      </div>
    </li>
  </ul>
</div>

<ng-template #modalRef let-c='close' let-d='dismiss'>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create User</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="d()"></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-3">
        <img class="rounded-circle user-avatar-lg" [src]="createAvatar || '/assets/se.svg'">
      </div>
      <div class="col">
        <div class="mb-3">
          <label class="form-label" for="name">Name</label>
          <input type="text" class="form-control" id="name" [(ngModel)]="createName">
        </div>
        <div class="mb-3">
          <label class="form-label" for="avatar">Avatar</label>
          <div class="input-group">
            <input type="url" class="form-control" id="avatar" [(ngModel)]="createAvatar">
            <button class="btn btn-secondary" ngbTooltip="reset" (click)="createAvatar = ''">
              <i class="bi bi-arrow-counterclockwise"></i>
            </button>
          </div>
          <small class="form-text text-muted">Must be a valid url.</small>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" (click)="c()">Create</button>
  </div>
</ng-template>
