@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$avatar-dim: 5rem;
$avatar-lg-dim: 10rem;

.user-avatar {
  width: $avatar-dim;
  height: $avatar-dim;
  object-fit: cover;
  margin-right: 12px;
}

.user-avatar-lg {
  width: $avatar-lg-dim;
  height: $avatar-lg-dim;
  object-fit: cover;
}
