<div class="container">
  <div class="d-flex flex-row">
    <h4 class="m-2">Users:</h4>
    <a class="btn btn-success btn-sm align-self-center bi-plus-lg" routerLink="new">
    </a>
  </div>
  <ul class="list-group">
    <li *ngFor="let user of users" class="list-group-item">
      <div class="row align-items-center">
        <div class="col-5">
          <img class="rounded-circle user-avatar" [src]="user.avatar || '/assets/se.svg'" [alt]="user.name">
          <span class="h6">{{ user.name }}</span>
        </div>
        <div class="col-3">
          <span class="h6 bi-cup-fill text-primary"></span><span class="h6"> {{ user.coffees }}</span>
        </div>
        <div class="col-1 text-end">
          <span [class.text-danger]="user.balance < 0" class="h6">
            {{ user.balance | currency: 'EUR' : 'symbol': '1.': 'de-DE'}}
          </span>
        </div>
        <div class="col"></div>
        <div class="col-1">
          <a class="btn btn-success me-2 bi-pencil" ngbTooltip="Edit User"></a>
        </div>
      </div>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>
