@use 'bootstrap/scss/bootstrap' as * with (
  $primary: #a07150,
  $color-mode-type: media-query,
);
@use 'bootstrap-icons/font/bootstrap-icons' as *;

.dropdown-toggle[class*=bi-]:empty::after {
  // Remove caret from dropdown toggle buttons that are just icons
  border: none;
}

@include color-mode(light) {
  .bg-light-or-dark {
    background-color: var(--bs-light-bg-subtle) !important;
  }
}
@include color-mode(dark) {
  .bg-light-or-dark {
    background-color: var(--bs-dark-bg-subtle) !important;
  }
}
