<div class="container">
  <h1>Settings</h1>
  <div class="mb-3">
    <label class="form-label" for="apiKeyInput">API Key</label>
    <input type="password" class="form-control" id="apiKeyInput" [(ngModel)]="apiKey">
  </div>
  <div class="mb-3">
    <label class="form-label" for="userInput">Username</label>
    <select class="form-control" id="userInput" [(ngModel)]="selectedUserId">
      <option *ngFor="let user of users" [value]="user._id">{{user.name}}</option>
    </select>
  </div>

  <button class="btn btn-primary" (click)="save()">
    Save
  </button>
</div>
