<div class="container">
  <div class="d-flex align-items-center mb-3">
    <h1 class="me-auto">
      Users
    </h1>
    <a class="btn btn-success bi-person-plus" ngbTooltip="Add User" routerLink="new"></a>
  </div>
  <div class="list-group">
    <a *ngFor="let user of users" class="list-group-item list-group-item-action" [routerLink]="[user._id]">
      <div class="d-flex align-items-center">
        <div class="flex-shrink-0 me-3">
          <img class="rounded-circle user-avatar" [src]="user.avatar || '/assets/se.svg'" [alt]="user.name">
        </div>
        <div class="flex-grow-1 row align-items-center">
          <div class="col-md">
            <h6>{{ user.name }}</h6>
            <img class="rounded-circle level-icon" [src]="'/assets/levels/' + (user.coffees | level:+user.balance) + '.png'"
                 alt="Level Icon">
            <i class="text-muted">
              {{ user.coffees | level:+user.balance | levelName }}
            </i>
          </div>
          <div class="col-auto">
            <span class="bi-cup text-primary" ngbTooltip="Coffees">
              {{ user.coffees }}
            </span>
                <span class="bi-star text-info" ngbTooltip="Level">
              {{ user.coffees | level }}
            </span>
                <span class="bi-trophy text-warning" ngbTooltip="Trophies">
              12
            </span>
            <span [class]="['bi-cash-coin', +user.balance < 0 ? 'text-danger' : 'text-success']" [ngbTooltip]="+user.balance < 0 ? 'Negative Balance!' : 'Balance'">
              {{ user.balance | currency: 'EUR' : 'symbol': '1.': 'de-DE'}}
            </span>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
<router-outlet></router-outlet>
